
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

/* stage-full-window */
body.stage-full-window { margin: 0; padding: 0; overflow: hidden; }
canvas.stage-full-window { width: 100%; height: 100%; position:fixed; }
